.aside{
    position: ab;
    top: calc(50% - 80px);
    right: 0;

    &__container{
        display: flex;
        justify-content: center;
        align-items: center;
    }

//   &__links{
//        padding: 10px 20px;
//        border: 1px solid white;
//        margin-left: 10px;
//        background-color: black;
//        opacity: .8px;  }
}